@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary btn-lg" href="@Url.Action("Report","Home")" target="_blank">Web View</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-lg" href="@Url.Action("PdfGenerate","Home")" target="_blank">Iron Pdf View</a>
    </div>
    <div class="col-md-3">
       
    </div>
    <div class="col-md-3">
       
    </div>
</div>
